@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");
/* Réinitialisation des styles de base */
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: none;
  text-transform: capitalize; 
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;/* Active le défilement fluide */
  scroll-padding-top: 8rem;/* Ajoute un espace de défilement fluide en haut du document */
  overflow-x: hidden;/* Masque la barre de défilement horizontale */
}
/* Styles de la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;/* Couleur de fond de la piste de la barre de défilement */
}

html::-webkit-scrollbar-thumb {
  background: #eacf4f;/* Couleur du curseur de la barre de défilement */
  border-radius: 5rem;/* Ajoute un léger arrondi aux coins du curseur */
}

body {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;/* Ajoute un rembourrage de 3 rem en haut et en bas, et 9% sur les côtés */
}
/* Styles pour les titres centrés */
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
/* Styles pour les titres de niveau 3 */
.heading h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color: #fff;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;/* Aucune répétition de l'arrière-plan */
  font-size: 1.7rem;
  padding: 1rem 3rem;/* Rembourrage de 1 rem en haut/bas et 3 rem à gauche/droite */
}

.btn:hover {
  color: #000;
  background: #fff;
}
/* Styles pour l'en-tête (barre de navigation) */
.header {
  position: fixed;/* Position fixe pour rester en haut de la page même en défilant */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Couche la plus élevée pour être au-dessus des autres éléments */
  background: #000;
  padding: 3rem 9%;
  display: -webkit-box;/* Utilisation de la disposition de la boîte flexible pour les anciennes versions de WebKit */
  display: -ms-flexbox;/* Utilisation de la disposition de la boîte flexible pour les anciennes versions de MS */
  display: flex;/* Utilisation de la disposition de la boîte flexible pour les anciennes versions de MS */
  -webkit-box-align: center;/* Alignement vertical au centre */
  -ms-flex-align: center;/* Alignement vertical au centre */
  align-items: center;/* Alignement vertical au centre */
  -webkit-box-pack: justify;/* Répartit l'espace entre les éléments avec justification */
  -ms-flex-pack: justify;/* Répartit l'espace entre les éléments avec justification */
  justify-content: space-between;/* Répartit l'espace entre les éléments avec justification */
  gap: 1rem;
}

.header .icons {
  font-size: 2.5rem;
  cursor: pointer;/* Curseur pointeur au survol */
  color: #fff;
}

.header .icons:hover {
  color: #eacf4f;
}
/* Styles spécifiques pour le bouton de menu dans l'en-tête */
.header #menu-btn {
  display: none; /* Masque le bouton de menu par défaut */
}
/* Styles pour les liens de la barre de navigation */
.header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 2rem;
}

.header .navbar a:hover {
  text-decoration: underline; /* Souligne le texte au survol */
  text-underline-offset: 1rem;
  color: #eacf4f;
}
/* Styles pour l'espace dans la barre de navigation */
.header .navbar .space {
  display: inline-block;/* Affiche en tant que bloc en ligne */
  width: 16rem;
}
/* Styles pour le formulaire de recherche dans l'en-tête */
.header .logo {
  position: absolute;/* Position absolue par rapport à l'élément parent */
  top: 3rem;
  left: 48.5%;/* Centre horizontalement à 48.5% */
  -webkit-transform: translateX(-50%);/* Déplace de 50% vers la gauche pour centrer */
  transform: translateX(-50%);/* Déplace de 50% vers la gauche pour centrer */
}

.header .logo img {
  width: 15rem;
}

.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);/* Bordure supérieure de 0.2 rem en blanc avec une légère transparence */
  display: -webkit-box;/* Utilisation de la disposition de la boîte flexible pour les anciennes versions de WebKit */
  display: -ms-flexbox; /* Utilisation de la disposition de la boîte flexible pour les anciennes versions de MS */
  display: flex; /* Utilisation de la disposition de la boîte flexible */
  -webkit-box-align: center;/* Alignement vertical au centre */
  -ms-flex-align: center;/* Alignement vertical au centre */
  align-items: center;/* Alignement vertical au centre */
  background: #000;
  position: absolute;/* Position absolue par rapport à l'élément parent */
  top: 99%;/* Distance de 99% depuis le haut */
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/* Forme rectangulaire du formulaire de recherche */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/* Forme rectangulaire du formulaire de recherche */
}
/* Styles pour la forme du formulaire de recherche lorsqu'il est actif */
.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);/* Forme rectangulaire avec coins supérieurs arrondis du formulaire de recherche actif */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);/* Forme rectangulaire avec coins supérieurs arrondis du formulaire de recherche actif */
}
/* Styles pour la zone de texte du formulaire de recherche */
.header .search-form input {
  width: 100%;/* Largeur de 100% pour occuper tout l'espace disponible */
  background: none;/* Fond transparent */
  text-transform: none; /* Pas de transformation de texte (majuscules/minuscules) */
  font-size: 1.6rem;
  color: #fff;
}
/* Styles pour l'icône de fermeture du formulaire de recherche */
.header .fa-times {
  -webkit-transform: rotate(180deg);/* Rotation de l'icône de 180 degrés pour afficher une croix à la place d'une flèche */
  transform: rotate(180deg);/* Rotation de l'icône de 180 degrés pour afficher une croix à la place d'une flèche */
}
/* Style pour la section "home" */
.home {
  margin-top: 7rem; /* Marge supérieure de 7 rem pour la section "home" */
  background: url(../images/home-bg.png) no-repeat;
  background-size: cover;/* Redimensionnement de l'image pour couvrir tout l'espace */
  background-position: center;/* Positionnement de l'image au centre */
}
/* Style pour le contenu de la section "home" */
.home .content {
  max-width: 70rem;/* Largeur maximale de 70 rem pour le contenu de la section "home" */
  text-align: center;/* Alignement du texte au centre */
  margin: 0 auto; /* Centre le contenu horizontalement */
}
/* Style pour les images dans la section "home" */
.home .content img {
  width: 100%;
}
/* Style pour les titres h3 dans la section "home" */
.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}
/* Style pour les paragraphes dans la section "home" */
.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}
/* Style pour la classe "service" */
.service {
  display: -ms-grid; /* Utilisation de la disposition de grille pour Internet Explorer */
  display: grid;/* Utilisation de la disposition de grille */
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];/* Colonnes de grille avec une largeur minimale de 31 rem */
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr)); /* Colonnes de grille répétées avec une largeur minimale de 31 rem */
  gap: 2rem; /* Espacement de 2 rem entre les éléments de la grille */
}
/* Style pour la classe "box" dans la section "service" */
.service .box {
  text-align: center;
  padding: 2rem;
}
/* Style pour les icônes dans la classe "box" */
.service .box i {
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 2.5rem;
  color: #000;
  background: #eacf4f;
  margin-bottom: 1rem;
  border-radius: 50%;
}
/* Style pour les titres h3 dans la classe "box" */
.service .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}
/* Style pour les paragraphes dans la classe "box" */
.service .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}
/* Style pour la classe "login" */
.login {
  display: -webkit-box;/* Affichage en tant que boîte flexible pour WebKit (ancienne syntaxe) */
  display: -ms-flexbox;/* Affichage en tant que boîte flexible pour Internet Explorer */
  display: flex;/* Affichage en tant que boîte flexible */
  -ms-flex-wrap: wrap;/* Permettre le retour à la ligne des éléments fils pour Internet Explorer */
  flex-wrap: wrap;/* Permettre le retour à la ligne des éléments fils */
  gap: 3rem; /* Espacement de 3 rem entre les éléments fils */
}
/* Style pour la classe "map" dans la classe "login" */
.login .map {
  -webkit-box-flex: 1;/* Propriété flexible pour WebKit (ancienne syntaxe) */
  -ms-flex: 1 1 40rem; /* Propriété flexible pour Internet Explorer */
  flex: 1 1 40rem;/* Propriété flexible */
  width: 100%;
}
/* Style pour la classe "form" dans la classe "login" */

.login .form {
  margin-top: 10%;
  -webkit-box-flex: 1;/* Propriété flexible pour WebKit (ancienne syntaxe) */
  -ms-flex: 1 1 40rem; /* Propriété flexible pour Internet Explorer */
  flex: 1 1 40rem;/* Propriété flexible */
}
/* Style pour le conteneur d'icônes dans la classe "icons-container" de la classe "form" */
.login .form .icons-container {
  display: -webkit-box;/* Affichage en tant que boîte flexible pour WebKit (ancienne syntaxe) */
  display: -ms-flexbox; /* Affichage en tant que boîte flexible pour Internet Explorer */
  display: flex;/* Affichage en tant que boîte flexible */
  -ms-flex-wrap: wrap;/* Permettre le retour à la ligne des éléments fils pour Internet Explorer */
  flex-wrap: wrap; /* Permettre le retour à la ligne des éléments fils */
  gap: 2rem; /* Espacement de 2 rem entre les éléments fils */
  margin-bottom: 3rem;
}
/* Style pour les icônes dans la classe "icons" de la classe "icons-container" de la classe "form" */
.login .form .icons-container .icons {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 17rem;
  flex: 1 1 17rem;
  text-align: center;
}
/* Style pour les icônes dans la classe "icons" de la classe "icons-container" de la classe "form" */

.login .form .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #eacf4f;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* Style pour les titres h3 dans la classe "icons" de la classe "icons-container" de la classe "form" */

.login .form .icons-container .icons h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}
/* Style pour les paragraphes dans la classe "icons" de la classe "icons-container" de la classe "form" */

.login .form .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}
/* Style pour le formulaire dans la classe "form" de la classe "login" */

.login .form form {
  text-align: center;
}
/* Style pour la boîte dans le formulaire de la classe "form" de la classe "login" */

.login .form form .box {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #fff;
  background: none;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 100%;
  margin: .7rem 0;
}

.login .form form .box:focus {
  border-color: #eacf4f;
}

.login .form form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));/* Dégradé linéaire pour WebKit (ancienne syntaxe) */
  background: linear-gradient(transparent, #000);/* Dégradé linéaire */
}

.footer .links a {
  margin: 1rem;
}
/* Style pour la classe "credit" de la classe "footer" */

.footer .credit {
  font-size: 2rem;
  line-height: 2;
  color: #aaa;
  padding-top: 2rem;
}

.footer .credit span {
  color: #eacf4f;
}


/* Styles pour le conteneur dans le menu */
.menu .box-container {
  display: -ms-grid; /* Utilisation de la syntaxe spécifique à Microsoft pour le support des navigateur */
  display: grid; /* Utilisation de la syntaxe standard pour la disposition en grille */
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit]; /* Définition des colonnes de la grille pour navigateur*/
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr)); /* Définition des colonnes de la grille pour les navigateurs modernes avec auto-fit */
  gap: 2rem; /* Espacement entre les éléments de la grille */
}

/* Styles pour chaque boîte à l'intérieur du conteneur */
.menu .box-container .box {
  text-align: center; /* Centrer le texte */
}

/* Styles pour l'effet de survol sur l'image de container */
.menu .box-container .box:hover img {
  -webkit-transform: translateY(1rem); /* Effet de translation vers le bas au survol pour les navigateurs basés sur WebKit (comme Chrome et Safari) */
  transform: translateY(1rem); /* Effet de translation vers le bas au survol pour les navigateurs standards */
}

/* Styles pour les images dans container */
.menu .box-container .box img {
  height: 25rem; /* Hauteur fixe pour les images dans les boîtes */
}

/* Styles pour le contenu à l'intérieur de chaque container */
.menu .box-container .box .content {
  padding: 1rem 0; /* Rembourrage supérieur et inférieur pour le contenu dans la boîte */
}

/* Styles pour la section de notation en étoiles  */
.menu .box-container .box .content .stars {
  margin-bottom: 2rem; /* Marge inférieure pour l'espace entre la section d'étoiles et le reste du contenu */
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem; /* Taille de police pour les icônes d'étoiles */
  color: #eacf4f; 
}

/* Styles pour le titre  */
.menu .box-container .box .content h3 {
  font-size: 2rem; /* Taille de police */
  text-transform: uppercase; /* Conversion du texte en majuscules */
  color: #fff;
}

.box-container {
  color: white!important;
}
/* Styles pour les informations de prix */
.menu .box-container .box .content .price {
  font-size: 2rem; /* Taille de police  */
  line-height: 2; /* Hauteur de ligne pour espacer le texte */
  color: #aaa; 
}

/* Styles pour la section "About" */
.about {
  display: -webkit-box; /* Utilisation de la syntaxe spécifique à WebKit (moteur de rendu de page web */
  display: -ms-flexbox; /* Utilisation de la syntaxe spécifique pour  navigateur */
  display: flex; /* Utilisation de la syntaxe standard pour la disposition de conteneur */
  -webkit-box-align: center; /* Centrer verticalement les éléments enfants dans le conteneur */
      -ms-flex-align: center; /* Centrer verticalement les éléments enfants dans le conteneur pour  navigateur  */
          align-items: center; /* Centrer verticalement les éléments enfants dans le conteneur */
  -ms-flex-wrap: wrap; /* Permettre le retour à la ligne des éléments enfants lorsque l'espace est insuffisant pour  navigateur  */
      flex-wrap: wrap; /* Permettre le retour à la ligne des éléments enfants lorsque l'espace est insuffisant */
  gap: 3rem; /* Espacement entre les éléments enfants */
}

/* Styles pour la partie "image"  */
.about .image {
  -webkit-box-flex: 1; /* Permettre à la partie "image" de croître en fonction de l'espace disponible */
      -ms-flex: 1 1 40rem; /* Définir la taille de la partie "image" pour navigateur*/
          flex: 1 1 40rem; /* Définir la taille de la partie "image" */
}

.about .image img {
  width: 100%; /* Faire en sorte que l'image occupe 100% de la largeur de son conteneur */
}

/* Styles pour la partie "content"  */
.about .content {
  -webkit-box-flex: 1; /* Permettre à la partie "content" de croître en fonction de l'espace disponible */
      -ms-flex: 1 1 40rem; /* Définir la taille de la partie "content" pour navigateur */
          flex: 1 1 40rem; /* Définir la taille de la partie "content" */
}

/* Styles pour le titre dans la partie "content" */
.about .content .title {
  font-size: 2.5rem; /* Taille de police pour le titre */
  text-transform: uppercase; /* Convertir le texte en majuscules */
  color: #fff; 
}

/* Styles pour le paragraphe dans la partie "content" */
.about .content p {
  font-size: 1.5rem; /* Taille de police pour le paragraphe */
  line-height: 2; /* Hauteur de ligne pour espacer le texte */
  color: #aaa; 
  padding: 2rem 0; /* Rembourrage supérieur et inférieur pour le paragraphe */
}

/* Styles pour la section des icônes dans la partie "content" */
.about .content .icons {
  display: -webkit-box; /* Utilisation de la syntaxe spécifique à WebKit pour la disposition en boîte des icônes */
  display: -ms-flexbox; /* Utilisation de la syntaxe spécifique navigateur pour la disposition en boîte des icônes */
  display: flex; /* Utilisation de la syntaxe standard pour la disposition en boîte des icônes */
  -ms-flex-wrap: wrap; /* Permettre le retour à la ligne des icônes lorsque l'espace est insuffisant pour navigateur */
      flex-wrap: wrap; /* Permettre le retour à la ligne des icônes lorsque l'espace est insuffisant */
  gap: 1.5rem; /* Espacement entre les icônes */
  margin-bottom: 2rem; /* Marge inférieure pour l'espace entre la section d'icônes et le reste du contenu */
  margin-top: 1rem; /* Marge supérieure pour l'espace au-dessus de la section d'icônes */
}

/* Styles pour chaque icône dans la section des icônes */
.about .content .icons h3 {
  -webkit-box-flex: 1; /* Permettre à chaque icône de croître en fonction de l'espace disponible */
      -ms-flex: 1 1 16rem; /* Définir la taille de chaque icône pour navigateur */
          flex: 1 1 16rem; /* Définir la taille de chaque icône */
  font-size: 1.5rem; /* Taille de police pour chaque icône */
  text-transform: uppercase; /* Convertir le texte en majuscules */
  color: #fff;
}

/* Styles pour l'icône à l'intérieur de chaque icône de la section des icônes */
.about .content .icons h3 i {
  padding-right: .5rem; /* Espacement à droite de l'icône pour séparation visuelle */
  color: #eacf4f; 
}

/* Styles pour le container contenant les avis clients */
.reviews .box-container {
  display: -ms-grid; /* Utilisation de la syntaxe spécifique navigateur pour la disposition en grille */
  display: grid; /* Utilisation de la syntaxe standard pour la disposition en grille */
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit]; /* Définition des colonnes de la grille pour navigateur */
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr)); /* Définition des colonnes de la grille pour les navigateurs modernes avec auto-fit */
  gap: 2rem; /* Espacement entre les éléments de la grille */
}

/* Styles pour chaque container */
.reviews .box-container .box {
  text-align: center; /* Centrer le texte à l'intérieur de la boîte */
  padding: 2rem; /* Espacement interne de la boîte */
}

/* Styles pour les images dans chaque container */
.reviews .box-container .box img {
  height: 10rem; 
  width: 10rem; 
  border-radius: 50%; 
  margin-bottom: 1rem; 
}

/* Styles pour le titre */
.reviews .box-container .box h3 {
  font-size: 2rem; 
  text-transform: uppercase; 
  color: #fff; 
}

/* Styles pour le paragraphe */
.reviews .box-container .box p {
  font-size: 1.4rem; 
  line-height: 2;
  padding: 1rem 0; 
}

/* Styles pour la section d'étoiles  */
.reviews .box-container .box .stars {
  padding-top: .5rem;
}

/* Styles pour chaque icône d'étoile  */
.reviews .box-container .box .stars i {
  font-size: 1.7rem; 
  color: #eacf4f; 
}




/* Media query pour les écrans ayant une largeur maximale de 1200 pixels */
@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
/* Media query pour les écrans ayant une largeur maximale de 991 pixels */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    -webkit-box-pack: end;/* Alignement des éléments à la fin dans la disposition de la boîte flexible pour les anciennes versions de WebKit */
    -ms-flex-pack: end;/* Alignement des éléments à la fin dans la disposition de la boîte flexible pour les anciennes versions de WebKit */
    justify-content: flex-end;/* Alignement des éléments à la fin dans la disposition de la boîte flexible pour les anciennes versions de WebKit */
    gap: 2rem;/* Ajout d'un espace de 2 rem entre les éléments de l'en-tête */
  }

  .header .logo {
    -webkit-transform: translateX(0); /* Annulation de la translation horizontale de l'image du logo */
    transform: translateX(0); /* Annulation de la translation horizontale de l'image du logo */
    left: 3rem;/* Ajout de 3 rem de décalage à gauche pour le logo */
  }

  .header #menu-btn {
    display: inline-block;/* Affichage du bouton de menu en ligne */
  }

  .header .navbar {
    position: absolute;/* Positionnement absolu pour la barre de navigation */
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/* Forme rectangulaire pour la barre de navigation */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/* Forme rectangulaire pour la barre de navigation */
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);/* Forme rectangulaire avec coins supérieurs arrondis pour la barre de navigation active */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);/* Forme rectangulaire avec coins supérieurs arrondis pour la barre de navigation active */
  }

  .header .navbar a {
    display: block;/* Affichage des liens de navigation en bloc (un en dessous de l'autre) */
    margin: 3rem 2rem;/* Ajout de marges de 3 rem en haut/bas et 2 rem à gauche/droite pour les liens de navigation */
  }

  .header .navbar .space {
    display: none;/* Masquage de l'espace dans la barre de navigation */
  }
}
/* Media query pour les écrans ayant une largeur maximale de 768 pixels */

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
}
/* Media query pour les écrans ayant une largeur maximale de 450 pixels */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
